<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Fleet Management</div>
  <div class="page__content shadow p-3 position-relative">
    <app-back-btn></app-back-btn>
    <section>
      <mat-horizontal-stepper linear="false" #stepper>
        <mat-step [stepControl]="fleetFormGroup1">
          <ng-template matStepLabel>Information</ng-template>
          <form [formGroup]="fleetFormGroup1">
            <div>
              <mat-form-field appearance="outline" class="width-75">
                <mat-label>Driver Type</mat-label>
                <mat-select name="employees" formControlName="driver_id">
                  <mat-option *ngFor="let item of driverData" [value]="item.id">
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="width-49" appearance="outline">
                <mat-label>
                  <mat-icon class="form-label">person</mat-icon
                  >&nbsp;&nbsp;License Plate
                </mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="License Plate"
                  formControlName="license_plate"
                  required
                />
              </mat-form-field>
              <mat-form-field class="width-49" appearance="outline">
                <mat-label>
                  <mat-icon class="form-label">person</mat-icon
                  >&nbsp;&nbsp;Odometer
                </mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Odometer"
                  formControlName="odometer"
                  required
                />
              </mat-form-field>
              <mat-form-field class="width-49" appearance="outline">
                <mat-label>
                  <mat-icon class="form-label">person</mat-icon
                  >&nbsp;&nbsp;Vehicle Value
                </mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Vehicle Value"
                  formControlName="net_car_value"
                  required
                />
              </mat-form-field>
            

              <mat-form-field class="width-49" appearance="outline">
                <mat-label>
                  <mat-icon class="form-label">person</mat-icon
                  >&nbsp;&nbsp;Color
                </mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Color"
                  formControlName="color"
                  required
                />
              </mat-form-field>

              <mat-form-field class="width-49" appearance="outline">
                <mat-label>
                  <mat-icon class="form-label">person</mat-icon
                  >&nbsp;&nbsp;Horse Power
                </mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Horse Power"
                  formControlName="horsepower"
                  required
                />
              </mat-form-field>

              <mat-form-field class="width-49" appearance="outline">
                <mat-label>
                  <mat-icon class="form-label">person</mat-icon
                  >&nbsp;&nbsp;Power
                </mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Power"
                  formControlName="power"
                  required
                />
              </mat-form-field>

              <mat-form-field class="width-49" appearance="outline">
                <mat-label>
                  <mat-icon class="form-label">person</mat-icon
                  >&nbsp;&nbsp;Seats Number
                </mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Seats Number"
                  formControlName="seats"
                  required
                />
              </mat-form-field>

              <mat-form-field class="width-49" appearance="outline">
                <mat-label>
                  <mat-icon class="form-label">person</mat-icon>&nbsp;&nbsp;Door
                  Number
                </mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Door Number"
                  formControlName="doors"
                  required
                />
              </mat-form-field>
            </div>
          </form>
          <div>
            <button mat-button class="custom-filled-button" matStepperNext>
              Next
            </button>
          </div>
        </mat-step>

        <mat-step [stepControl]="fleetFormGroup2">
          <div>
            <ng-template matStepLabel>Model Information</ng-template>
            <form [formGroup]="fleetFormGroup2">
              <div>
                <mat-form-field appearance="outline" class="width-49">
                  <mat-label>Model</mat-label>
                  <mat-select name="Model" formControlName="model_id">
                    <mat-option
                      *ngFor="let item of modelData"
                      [value]="item.id"
                    >
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="width-49">
                  <mat-label>
                    <mat-icon class="form-label">person</mat-icon
                    >&nbsp;&nbsp;Transmission
                  </mat-label>
                  <mat-select name="Transmission" formControlName="transmission">
                    <mat-option *ngFor="let item of transmission" [value]="item.code">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="width-49" appearance="outline">
                  <mat-label>
                    <mat-icon class="form-label">person</mat-icon
                    >&nbsp;&nbsp;Model Year
                  </mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Model Year"
                    formControlName="model_year"
                    required
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="width-49">
                  <mat-label>Fuel Type</mat-label>
                  <mat-select name="Fuel Types" formControlName="fuel_type">
                    <mat-option
                      *ngFor="let item of fuelTypesData"
                      [value]="item.code"
                    >
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="width-49" appearance="outline">
                  <mat-label>
                    <mat-icon class="form-label">person</mat-icon
                    >&nbsp;&nbsp;Co2
                  </mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Co2"
                    formControlName="co2"
                    required
                  />
                </mat-form-field>

                <mat-form-field class="width-49" appearance="outline">
                  <mat-label>
                    <mat-icon class="form-label">person</mat-icon
                    >&nbsp;&nbsp;Co2 Standard (g/km)
                  </mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Co2 Standard (g/km)"
                    formControlName="co2_standard"
                    required
                  />
                </mat-form-field>
              </div>
            </form>
          </div>
            <div class="main-buttons">
            <button mat-button class="custom-filled-button" matStepperPrevious>
            <mat-icon>add</mat-icon>
            Previous
            </button>
            <button mat-button class="custom-outline-button" matStepperNext>
            <mat-icon>sync</mat-icon>
            Reload
            </button>
            </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Finished</ng-template>
         <div class="main-buttons">
          <button mat-button matStepperPrevious class="custom-outline-button">
            Previous
          </button>
          <button mat-button class="custom-filled-button" matStepperNext (click)="adddVehicle()">
            Submit Vehicle
          </button>
         </div>
        </mat-step>
      </mat-horizontal-stepper>
    </section>
  </div>
</div>
