<section class="auth">
  <div class="top-background"></div>
  <mat-card>
    <img src="../../../../assets/images.png">
      <form [formGroup]="forgotPasswordFormGroup">
        <div *ngIf="forgotPass">
      <h4>Forget Password</h4>
      <p>Please enter your email address so that we can send you a code to reset you password</p>
      <form [formGroup]="forgotPasswordFormGroup">
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" placeholder="Email Address" formControlName="email">
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>
        <button mat-button class="custom-btn row" (click)="forgotPassword()">
          <mat-spinner
            *ngIf="loading"
            diameter="20"
            value="35"></mat-spinner>
            <span >Send reset code</span>
        </button>
      </form>
    </div>

    <div *ngIf="setPass">
      <h4>Set New Password</h4>
      <p>In Order to set new password.A four digit code has been sent to {{email}}</p>
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label>Code</mat-label>
        <input matInput placeholder="Code" formControlName="code">
        <mat-icon matPrefix>qr_code</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="New Password" formControlName="password">
        <mat-icon matPrefix>lock</mat-icon>
      </mat-form-field>
      <button mat-button class="custom-btn" (click)="setPassword()">
        <span *ngIf="!loading">Submit</span>
        <mat-spinner
          *ngIf="loading"
          diameter="30"
          color="accent"
          value="60"></mat-spinner>
      </button>
    </div>
      </form>

    <!-- <div *ngIf="loading">
      <mat-spinner
        diameter="60"
        color="primary"
        value="60"></mat-spinner>
    </div> -->

  </mat-card>


</section>
