@import "src/style";

.section-back {
  margin-bottom: 15px;
}

.divider {
  padding-left: 15px;
}

.section-title {
  margin-top: 15px;
  margin-bottom: 35px;
  padding-left: 15px;

  .myIcon {
    position: relative;
  }

  .mySpan {
    position: absolute;
    // padding-top: 2px;
  }
}

.section-forms {
  width: 600px;
  max-width: 100%;
  border: 2px solid #ECEFF1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .form-title {
    color: #1e293b;
  }

  .form-label {
    color: #1e293b;
  }

  .btn-cont {
    width: 100%;
  }


  //@include mobile {
  //  mat-form-field {
  //    width: 100% !important;
  //  }
  //
  //}
}
