<mat-spinner
  style="left: 50%; transform: translate(-50%)"
  *ngIf="isLoadingUser"
  diameter="60"
  color="primary"
  value="60">
</mat-spinner>

<form [formGroup]="userFormGroup" *ngIf="!isLoadingUser">
  <section class="section-forms">
    <mat-form-field class="width-75" appearance="outline">
      <mat-label>
        <mat-icon class="form-label">person</mat-icon>
        Username
      </mat-label>
      <input type="text" matInput placeholder="Username" formControlName="username">

    </mat-form-field>
    <mat-form-field class="width-49" appearance="outline">
      <mat-label>
        <mat-icon class="form-label">person</mat-icon>
        First Name
      </mat-label>
      <input type="text" matInput placeholder="First name" formControlName="name">

    </mat-form-field>
    <mat-form-field class="width-49" appearance="outline">
      <mat-label>
        <mat-icon class="form-label">person</mat-icon>
        Last Name
      </mat-label>
      <input type="text" matInput placeholder="Last name" formControlName="email">

    </mat-form-field>
    <mat-form-field class="width-49" appearance="outline">
      <mat-label>
        <mat-icon class="form-label">phone</mat-icon>
        Phone Number
      </mat-label>
      <input type="text" matInput placeholder="Phone" formControlName="phone">

    </mat-form-field>
    <mat-form-field class="width-49" appearance="outline">
      <mat-label>
        <mat-icon class="form-label">email</mat-icon>
        Email Address
      </mat-label>
      <input type="text" matInput placeholder="Email" formControlName="email">

    </mat-form-field>

   <!-- <mat-chip-list>
     <p>My Roles: </p>
     <mat-chip
       disableRipple
       color="accent"
       *ngFor="let item of myRolesList">
       {{item.name}}
     </mat-chip>
   </mat-chip-list> -->
    <br>
   <div class="btn-cont">
     <button mat-button class="custom-filled-button">
       <!-- <span *ngIf="!loading">Edit</span> -->
       <!-- <mat-spinner
         *ngIf="loading"
         diameter="30"
         color="accent"
         value="60">
       </mat-spinner> -->
       <span>Update Information</span>
     </button>
   </div>
  </section>
</form>
