<section class="auth">
  <mat-card>
    <img src="../../../../assets/images.png">

    <h4>Sign In</h4>
    <form [formGroup]="signInFormGroup">
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter Username" formControlName="username">
        <mat-icon matPrefix>account_circle</mat-icon>
        <!--<mat-hint>Hint</mat-hint>-->
      </mat-form-field>
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label>Password</mat-label>
        <input [type]="passwordVisible  ? 'text' : 'password'" matInput placeholder="Password"
               formControlName="password">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-icon class="visibility-icon" matSuffix
                  matTooltip="Show / Hide Password"
                  matTooltipClass="example-tooltip-green"
                  (click)="passwordVisible = !passwordVisible">{{!this.passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
        <!--      <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
      <p class="forgot-pass" [routerLink]="['../0/reset-password']">Forgot password ?</p>
      <button mat-button class="custom-btn" (click)="signInUser()" [disabled]="signInFormGroup.invalid || loading">
        <span *ngIf="!loading">Login</span>
        <mat-spinner
          *ngIf="loading"
          diameter="30"
          color="accent"
          value="60">
        </mat-spinner>
      </button>
    </form>

  </mat-card>
</section>
