<section>
    <form [formGroup]="serviceTypeFormGroup">
      <h4>New Service Type</h4>
      <div>
        <mat-form-field class="width-75" appearance="outline">
          <mat-label>
            <mat-icon class="form-label">person</mat-icon>&nbsp;&nbsp;Name
          </mat-label>
          <input type="text" matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="width-75" appearance="outline">
            <mat-label>
              <mat-icon class="form-label">person</mat-icon>&nbsp;&nbsp;Category
            </mat-label>
            <input type="text" matInput placeholder="Category" formControlName="category" >
          </mat-form-field>
      </div>
      <div class="buttons-cont">
        <button mat-button class="custom-filled-button" type="submit" (click)="addNewCategory()">
          <mat-spinner matSuffix
                       *ngIf="isLoading"
                       diameter="30"
                       color="accent"
                       value="60">
          </mat-spinner>
          <span>Submit Service Type</span>
        </button>
        <button mat-button class="custom-outline-button" type="submit" (click)="onCloseDialog()">
          <mat-spinner matSuffix
                       *ngIf="isLoading"
                       diameter="30"
                       color="accent"
                       value="60">
          </mat-spinner>
          <span>Cancel</span>
        </button>
      </div>

    </form>
  </section>
