<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Employee Details</div>
    <div class="page__content shadow p-3 position-relative">
        <section>
            <app-back-btn></app-back-btn>
            <section class="advance-summary-card-container" *ngIf="!isLoading">
                <app-card-user [userCardData]="userCardData" icon="badge"></app-card-user>
            </section>
            <section *ngIf="!isLoading">
                <mat-tab-group>
                    <mat-tab label="Bio Data">
                        <ul>
                            <li *ngIf="employeeData.national_id">
                                <mat-icon>person_pin</mat-icon>
                                <span>National ID: <b>{{employeeData.national_id}}</b></span>
                            </li>
                            <li *ngIf="employeeData.address">
                                <mat-icon>location_on</mat-icon>
                                <span>Address: <b>{{employeeData.address}}</b></span>
                            </li>
                            <li *ngIf="employeeData.dob">
                                <mat-icon>date_range</mat-icon>
                                <span>DOB: <b>{{employeeData.dob | date: 'mediumDate'}}</b></span>
                            </li>

                            <li *ngIf="employeeData.gender">
                                <mat-icon>person</mat-icon>
                                <span>Gender: <b>{{employeeData.gender ? employeeData.gender : 'Male'}}</b></span>
                            </li>
                            <li *ngIf="employeeData.registration_date">
                                <mat-icon>date_range</mat-icon>
                                <span *ngIf="employeeData.registration_date">Rgistration Date:
                                    <b>{{employeeData.registration_date | date: 'mediumDate' }}</b></span>
                            </li>
                        </ul>
                    </mat-tab>



                    <mat-tab label="Work Info">
                        <ul>
                            <li *ngIf="employeeData.nssf">
                                <mat-icon>person_pin</mat-icon>
                                <span>NSSF: <b>{{employeeData.nssf}}</b></span>
                            </li>
                            <li *ngIf="employeeData.nhif">
                                <mat-icon>person_pin</mat-icon>
                                <span>NHIF: <b>{{employeeData.nhif}}</b></span>
                            </li>
                            <li *ngIf="employeeData.kra_pin">
                                <mat-icon>person_pin</mat-icon>
                                <span>KRA: <b>{{employeeData.kra_pin}}</b></span>
                            </li>
                            <li *ngIf="employeeData.huduma_number">
                                <mat-icon>person_pin</mat-icon>
                                <span>Huduma Number: <b>{{employeeData.huduma_number ? employeeData.huduma_number :
                                        'N/A'}}</b></span>
                            </li>
                            <li *ngIf="employeeData.department_name">
                                <mat-icon>list_alt</mat-icon>
                                <span>Department: <b>{{employeeData.department_name}}</b></span>
                            </li>
                            <li *ngIf="employeeData.job_title">
                                <mat-icon>list_alt</mat-icon>
                                <span>Job Title: <b>{{employeeData.job_title}}</b></span>
                            </li>
                        </ul>
                    </mat-tab>
                </mat-tab-group>
            </section>
        </section>
    </div>
</div>