<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.svg" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>file_present</mat-icon>Files
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/trips">
      <mat-icon>spatial_tracking</mat-icon> Trips
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/customers">
      <mat-icon>supervisor_account</mat-icon> Customers
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employees">
      <mat-icon>perm_contact_calendar</mat-icon> Employees
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/finance">
      <mat-icon>money</mat-icon> Accounting
    </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/fleet">
    <mat-icon>directions_car</mat-icon>Fleet
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/reports">
    <mat-icon>file_copy</mat-icon>Reports
  </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
      <mat-icon>settings</mat-icon> Settings
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/support">
      <mat-icon>live_help</mat-icon>Support
    </a>
  </mat-nav-list>
