@import "src/styles.scss";

::ng-deep {
  .mat-header-cell {
    color: #989898;
  }
}

h4 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.1px;
  color: #333333;
}

table {
  border: 2px solid #F0F0F0;
  border-radius: 10px;
  box-shadow: none;
  width: 100%;
  overflow: hidden;
}

.table-cards {
  display: none
}

// @include mobile {
//   h2 {
//     background: red;
//   }
//   .table-container {
//     display: none;
//   }
//   .table-cards {
//     display: block;
//     box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12) !important;
//     border-radius: 10px;

//     > div {
//       border-bottom: 0.3px solid rgba(120, 144, 156, 0.22);

//       span {
//         color: #559933;
//         margin-right: 10px;
//         font-weight: 300;
//       }

//       p {

//         &:nth-child(2) {
//           font-weight: bolder;
//         }


//       }
//     }

//   }

// }
